@model GigerSport.Models.DetailModel

@{
    ViewBag.Title = "DoneOrderDetail";
}

<h2>歷史訂單目錄</h2>



@Html.DisplayFor(modelItem => Model.Customer)

@Html.DisplayFor(modelItem => Model.Phone)

@Html.DisplayFor(modelItem => Model.Email)

@Html.DisplayFor(modelItem => Model.Address)

@Html.DisplayFor(modelItem => Model.TexId)

@Html.DisplayFor(modelItem => Model.Department)

@Html.DisplayFor(modelItem => Model.Major)

@Html.DisplayFor(modelItem => Model.Style)

@Html.DisplayFor(modelItem => Model.StyleId)

@Html.DisplayFor(modelItem => Model.FrontWord)

@Html.DisplayFor(modelItem => Model.FrontWordSize)

@Html.DisplayFor(modelItem => Model.BackWord)

@Html.DisplayFor(modelItem => Model.BackWordSize)

@Html.DisplayFor(modelItem => Model.ChineseFont)

@Html.DisplayFor(modelItem => Model.ChineseFontId)

@Html.DisplayFor(modelItem => Model.EngilshFont)

@Html.DisplayFor(modelItem => Model.EngilshFontId)

@Html.DisplayFor(modelItem => Model.NumberFont)

@Html.DisplayFor(modelItem => Model.NumberFontId)

@Html.DisplayFor(modelItem => Model.FontColor)

@Html.DisplayFor(modelItem => Model.FontColorId)

@Html.DisplayFor(modelItem => Model.Quantity)

@Html.DisplayFor(modelItem => Model.Discount)

@Html.DisplayFor(modelItem => Model.Amount)

@Html.DisplayFor(modelItem => Model.Img)

<a class="btn-danger" href="~/Views/" data-toggle="modal" data-target="#deleteModal">
    刪除
</a>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                確定刪除後無法恢復資料!
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                @Html.ActionLink("刪除", "DeleteDetail", new { orderDetailId = Model.OrderDetailId })
            </div>
        </div>
    </div>
</div>