@model GigerSport.Models.EditDetaiModel

@{
    ViewBag.Title = "CustomerHandDetail";
}

<h2>未登錄訂單細節</h2>

@using (Html.BeginForm())
{
    <input type="text" placeholder="姓名" class="" name="Name" required value=@Model.detailModel.Customer>
    <input type="text" placeholder="連絡電話" class="" name="Phone" required value=@Model.detailModel.Phone>
    <input type="text" placeholder="收件地址" class="" name="Address" required value=@Model.detailModel.Address>
    <input type="text" placeholder="信箱" class="" name="Email" value=@Model.detailModel.Email>
    <input type="text" placeholder="統一編號" class="" name="Tex" value=@Model.detailModel.TexId>
    <input type="text" placeholder="學校" class="" name="Department" value=@Model.detailModel.Department>
    <input type="text" placeholder="科系" class="" name="Major" value=@Model.detailModel.Major>
    <input type="text" placeholder="正面內容" class="" name="FrontWord" value=@Model.detailModel.FrontWord>
    <input type="text" placeholder="正面字型大小" class="" name="FrontWordSize" required value=@Model.detailModel.FrontWordSize>
    <input type="text" placeholder="背面內容" class="" name="BackWord" value=@Model.detailModel.BackWord>
    <input type="text" placeholder="背面字型大小" class="" name="BackWordSize" required value=@Model.detailModel.BackWordSize>
    <input type="text" placeholder="數量" class="" name="Quantity" required value=@Model.detailModel.Quantity>
    <input type="text" placeholder="折扣" class="" name="Discount" value=1 required>
    <input type="text" placeholder="圖" class="" name="Img" value=@Model.detailModel.Img>
    <select name="ChineseFontWord" required>
        <option value=@Model.detailModel.ChineseFontId>@Model.detailModel.ChineseFont</option>
        @foreach (var item in Model.createList.chinsesFontLists)
        {
            <option value=@item.chineseFontId>@item.chineseFontName</option>
        }
    </select>
    <select name="EngilshFontWord" required>
        <option value=@Model.detailModel.EngilshFontId>@Model.detailModel.EngilshFont</option>
        @foreach (var item in Model.createList.engilshFontLists)
        {
            <option value=@item.engilshFontId>@item.engilshFontName</option>
        }
    </select>
    <select name="FontColor" required>
        <option value=@Model.detailModel.FontColorId>@Model.detailModel.FontColor</option>
        @foreach (var item in Model.createList.fontColorLists)
        {
            <option value=@item.fontColorId>@item.fontColorName</option>
        }
    </select>
    <select name="NumberFontWord" required>
        <option value=@Model.detailModel.NumberFontId>@Model.detailModel.NumberFont</option>
        @foreach (var item in Model.createList.numberFontLists)
        {
            <option value=@item.numberFontId>@item.numberFontName</option>
        }
    </select>
    <select name="Style" required>
        <option value=@Model.detailModel.StyleId>@Model.detailModel.Style</option>
        @foreach (var item in Model.createList.styleLists)
        {
            <option value=@item.styleId>@item.styleName</option>
        }
    </select>
    if (Model.detailModel.Players.Count() > 0)
    {
        <table>
            <thead>
                <tr class="thead-light">
                    <th>球員號碼</th>
                    <th>姓名</th>
                    <th>尺寸</th>
                    <th>隊長標記</th>
                </tr>
            </thead>
            <tbody class="players">
                @foreach (var player in Model.detailModel.Players)
                {
                    <tr class="player">
                        <td>
                            <input type="text" placeholder="球員號碼" class="" name="PlayerNumber" value=@player.number required>
                        </td>
                        <td>
                            <input type="text" placeholder="姓名" class="" name="PlayerName" value=@player.playerName required>
                        </td>
                        <td>
                            <select name="PlayerSize" required>
                                <option value=@player.sizeId>@player.size</option>
                                @foreach (var item in Model.createList.sizeList)
                                {
                                    <option value=@item.sizeId>@item.sizeName</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="LeaderMark" required>
                                @if (player.leader == true)
                                {
                                    <option value=true>有隊長標記</option>
                                    <option value=false>無隊長標記</option>
                                }
                                else
                                {
                                    <option value=false>無隊長標記</option>
                                    <option value=true>有隊長標記</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button type="button" class="add_player">新增球員</button>
    <button type="button" class="minus_player">減少球員</button>
    <input name="UndoneOrderId" display="none" value=@Model.detailModel.OrderDetailId />
    <button class="KeepEdit" type="submit">確認新增訂單</button>
}

<a class="btn-danger" href="~/Views/" data-toggle="modal" data-target="#deleteModal">
    刪除
</a>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                確定刪除後無法恢復資料!
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                @Html.ActionLink("刪除", "DeleteCustomerHandOrder", new { undoneOrderId = Model.detailModel.OrderDetailId })
            </div>
        </div>
    </div>
</div>

<script>
        $(".add_player").click(function () {
            $(".players").append(`
                            <tr class="player">
                        <td>
                            <input type="text" placeholder="球員號碼" class="" name="PlayerNumber">
                        </td>
                        <td>
                            <input type="text" placeholder="姓名" class="" name="PlayerName">
                        </td>
                        <td>
                            <select name="PlayerSize">
                                <option value=null selected disabled hidden>尺寸</option>
                                @foreach (var item in Model.createList.sizeList)
                                {
                                    <option value=@item.sizeId>@item.sizeName</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="LeaderMark">
                                <option value=false>無隊長標記</option>
                                <option value=true>有隊長標記</option>
                            </select>
                        </td>
                    </tr>`)
        });
        $(".minus_player").click(function () {
            $(".player").last().remove();
        })
</script>