@model IEnumerable<GigerSport.Models.orderDetailModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontWordSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackWordSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChineseFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngilshFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FontColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Done)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrontWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrontWordSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BackWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BackWordSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChineseFont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngilshFont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberFont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FontColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Done)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
