@model IEnumerable<GigerSport.Models.DetailModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontWordSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackWordSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChineseFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngilshFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FontColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontWordSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackWordSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChineseFont)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngilshFont)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFont)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FontColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        if (item.Players.Count() > 0)
        {
            <tr>
                <th>球員號碼</th>
                <th>姓名</th>
                <th>尺寸</th>
                <th>隊長標記</th>
            </tr>
            foreach (var player in item.Players)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => player.number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.playerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.leader)
                    </td>
                </tr>
            }
        }
    }

</table>
